{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>Squaring Image</h2>
    <p>This is the Squaring Image Web Application Interface. After signing up an account, you will just need to select your image file, choose the resizing mode (use side length / use ratio), and input your parameter. This web could enlarge or shrink the images.You will be allowed to download the image squared in png format.</p>

    </div>
  </main>
{% endblock %}